Automation/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Testcase_Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="object_repro">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Name"/>
                <xs:attribute type="xs:string" name="PageName"/>
                <xs:attribute type="xs:string" name="Path"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Testcase">
          <xs:annotation>
            <xs:documentation>&lt;Step Keyword="CloseAllBrowsers" Objref="" Data1="">&lt;/Step>     &lt;Step Keyword="" Objref="" Data1="">&lt;/Step></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Step" maxOccurs="100" minOccurs="10">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Keyword" use="optional"/>
                      <xs:attribute type="xs:string" name="Objref" use="optional"/>
                      <xs:attribute type="xs:string" name="Data1" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>